body{
    background-image: url("../imagenes/fondo6.jpg");
}
label{
  color:#003366;
}

h4{
  font-family: 'Georgia', cursive;
}

#usuario{
font-family: 'Georgia' cursive; 
font-size: 15px; 
color: #3A73A8; 
text-align: right; 
margin-right: 20px;
}

#tipo, #delegacion1, #tramite, #autorizacion1, #autorizacion2, #area, #prioridad{
   border-color: #2874A6; 
   border-radius: 5px;
}


#datos, #extracto{
  text-transform:uppercase; 
  border-color: #2874A6; 
  border-radius: 5px; 
  resize: none;
}

#botonMenu{
  float:right;
  margin-right: 5px;
  background-color: #148F77;
  color: white;
  border: 2px solid;
  border-radius: 10px;
}

#botonMenu:hover{
   color: #148F77;
   background-color:white;
  -webkit-transform:scale(1.1);transform:scale(1.1); /*Acercamiento*/
}

#img-menu{
  border-radius: 10%;
}

#img-menu:hover{
  -webkit-transform:scale(1.1);transform:scale(1.1); /*Acercamiento*/
}

#containerMenu{
 /*min-height: 100vh;*/
  justify-content: center;
}

#botonGenerar{
  background-color: #148F77;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  width: 115px;
  margin-right: 7px;
}
#botonGenerar:hover{
   color: #148F77;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#botonVolver{
  float:right;
  margin-right: 8px;
  background-color: red;
  color: white;
  border: 2px solid;
  border-radius: 10px;
}

#botonVolver:hover{
   color: red;
   background-color:white;
  -webkit-transform:scale(1.1);transform:scale(1.1); /*Acercamiento*/
}


/** bandejas */

.contenedor{
  margin-right: 30px;
  margin-left: 50px;
}

.boton{
  border: 2px solid;
  border-color: #0072BC;
  transition: all 1s ease;
  /*position: relative;*/
  position: relative;
  padding: 25px 1px; /*arriba-abajo, izq-der*/
  margin: 0px 20px 10px 0px;
  float: left;
  border-radius: 15px; /*redondeo de las esquinas*/
  /*font-family: 'Georgia', cursive;*/
  font-family: 'Georgia';
  font-size: 17px; /*tamaño letra*/
  color: white; /*color letra*/
  /*text-decoration: none;  */
  width: 170px !important; /*tamaño botones*/
  height: 75px !important;
  text-align: center; /*alineacion de texto*/
  background: #0072BC;
}
.active{
  background: white;
  color: #0072BC !important;
}

/** recibidos*/

#botonAccion{
  float:center;
  margin-right: 2px;
  background-color: white;
  color: #3A73A8;
  border: 2px solid;
  border-radius: 10px;
  border-color: #3A73A8;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
}
#botonAccion:hover{
   color: white;
   background-color:#3A73A8;
  /*-webkit-transform:scale(1.1);transform:scale(1.1); *//*Acercamiento*/
}


#fila{
  background-color: #3A73A8; 
  color: white; 
  font-weight: 200;
  font-family: 'Georgia', cursive;
  font-size: 16px;
  text-align:center;
}

#fila1{
  background-color: white; 
  color: white; 
  font-weight: 200;
  font-family: 'Georgia', cursive;
  font-size: 17px;
}

#detalle{
  text-align: center;
  font-size: 12px;
  border-color: #3A73A8;
}

#detalle1{
  text-align: center;
  font-size: 13px;
  color: white;
  background-color: #E5340E;
}

#enviados1{
    width: 50%;
    float:left;
    margin-left: 0px;
    margin-right: 0px;
}

/* Detalles en Enviados- Detalles, enviar y archivar en Tomados- Detalles en Recibidos*/
#tomados2, #enviados2, #tomados3, #tomados4{
    width: 50%;
    /*float:left;*/
    float:right;
    margin-left: 0px;
}

#recibidos1, #tomados1{
  width: 100%;
}

#subtituloBandejas{
  color:#0072BC; 
  font-size:20px;
  font-family: 'Georgia', cursive;
  text-align: left;
}

#imagenRecargar{
  margin-left:5px; 
  margin-bottom: 5px;"
}



/** listados*/
#tituloListado{
  font-family: 'Georgia', 
  cursive; font-size:15px; 
  color: #3A73A8;
}



/** Busqueda-mis-expedientes*/

#busqueda{
  width:225px;
  height:40px; 
  border-radius: 10px; 
  border-color: black;
  font-size: 14px;
}
#botonBuscar{
  height:40px; 
  background-color:#0072BC; 
  border-radius: 10px; 
  font-family: 'Georgia', cursive;
}
#botonBuscar:hover{
   color: #0072BC;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}
#botonLimpiar{
  height:40px; 
  border-radius:10px; 
  font-family: 'Georgia', cursive;
}
#botonLimpiar:hover{
   color: red;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#detalle3{
  text-align:center;
  font-size: 14px;
}

#fila3{
  background-color: #3A73A8; 
  color: white; 
  font-weight: 200;
  font-family: 'italic';
  font-size: 18px;
  text-align: center;
}


/** index*/
.botonmenu{
  border: 2px solid;
  border-color: #0072BC;
  transition: all 1s ease;
  /*position: relative;*/
  position: relative;
  padding: 25px 1px; /*arriba-abajo, izq-der*/
  margin: 0px 20px 10px 0px;
  float: left;
  border-radius: 15px; /*redondeo de las esquinas*/
  /*font-family: 'Georgia', cursive;*/
  font-family: 'Georgia', cursive;
  font-size: 16px; /*tamaño letra*/
  color: white; /*color letra*/
  /*text-decoration: none;  */
  width: 180px !important; /*tamaño botones*/
  height: 110px !important;
  text-align: center; /*alineacion de texto*/
  background: #0072BC;
  /*background: #003366;*/
  /*background: #2874A6;*/
}
.botonmenu:hover {
  background: white;
  color: #0072BC !important;
  /*filter: blur(5px);*/
  -webkit-transform:scale(1.0);transform:scale(1.0); /*Acercamiento*/
  /*transform: rotateY(180deg);*/
  /*transform: rotateY(360deg) scale(1.1);*/
}



/* busqueda arhivado*/
#busquedaArchivados{
  text-transform:uppercase; 
  width:530px;
  height:40px; 
  border-radius: 10px; 
  border-color: black;
  font-size: 14px;
}

#filaArchivado{
  background-color: #3A73A8; 
  color: white; 
  font-weight: 200;
  font-family: 'italic';
  font-size: 18px;
  text-align: center;
}



/* Busqueda de archivados */
#busqueda1{
  text-transform:uppercase; 
  width:340px;
  height:40px; 
  border-radius: 10px; 
  border-color: black;
  font-size: 11px;
}

#busqueda2{
  width:215px;
  height:40px; 
  border-radius: 10px; 
  border-color: black;
  font-size: 14px;
  margin-left: 10px;
}

#busqueda3{
  width:215px;
  height:40px; 
  border-radius: 10px; 
  border-color: black;
  font-size: 14px;
  margin-left: 10px;
}

#botonBuscar{
  height:40px; 
  background-color:#0072BC; 
  border-radius: 10px; 
  font-family: 'Georgia', cursive;
}

#botonBuscar:hover{
   color: #0072BC;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#botonLimpiar{
  height:40px; 
  border-radius:10px; 
  font-family: 'Georgia', cursive;
}
#botonLimpiar:hover{
   color: red;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#tituloBuscador{
  margin-left: 10px; 
  color: #3A73A8
}




/***************** MOSTRAR DETALLES DE EXPEDIENTES ***********************/

.subtituloDetalles{
  font-family: 'Georgia', cursive; 
  /*color:#003366;*/
  color: #148F77;
  font-size:17px;
}

.tituloDatos{
  color:#0072BC; 
  font-size:20px;
  font-family: 'Georgia', cursive; 
  margin-right: 10px;
}

#botonDetalles{
  margin-right: 3px;
  margin-left: 10px;
  /*background-color: #148F77;*/
  background-color: #0072BC;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  width: 150px !important;
  height: 40px !important;
  text-align: center;
  text-decoration: none;
  font-family: 'Georgia';
  font-size: 17px;
  padding: 5px 1px; /*arriba-abajo, izq-der*/
}

#botonDetalles:hover{
  /* color: #148F77; */
   color: #0072BC;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}


.areaRuta{
  font-size: 17px; 
  color:black; 
  margin:1px;
}

.flechaRuta{
  font-size: 40px;
  color:#148F77; 
  font-weight: bold;
}


#filaComentario{
  background-color: #148F77; 
  color: white; 
  font-weight: 100;
  font-family: 'Georgia', cursive;
  font-size: 16px;
  text-align:center;
  border-color: white;
}

#detalleComentario{
  text-align: center;
  font-size: 13px;
  border-color: white;
}

.subtituloD{
  font-size: 18px;
  color: #4A94DA;
  font-family: 'Georgia';
}

/***********MOSTRAR RECIBIDOS, TOMADOS Y ENVIADOS*****************************/

#filaExpediente1{
  background-color: #3A73A8; 
  color: white; 
  font-weight: 200;
  font-family: 'Georgia', cursive;
  font-size: 16px;
  text-align:center;
}
#filaExpediente2{
  text-align: center;
  font-size: 12px;
  /*border-color: #3A73A8;*/
  background-color: #CEECF5;
}
#filaExpediente3{
  text-align: center;
  font-size: 14px;
  /*border-color: #3A73A8;*/
  background-color:#CEECF5 ;
}

#detallesExtras{
  /*border-color: #3A73A8;*/
  font-size: 14px;
  background-color: #EFF8FB;
}

#acciones{
  display: flex;
  justify-content: center;
  border-color: white;
  background-color: #CEECF5;
  text-align: center;
}



/*ver-tomados*/

#botonEnviar1, #botonEnviar2, #botonAgregar, #botonArchivar{
  background-color: #148F77;
  color: white;
  border: 2px solid;
  border-radius: 10px;
}

#botonEnviar1:hover{
   color: #148F77;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#botonEnviar2:hover{
   color: #148F77;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#botonAgregar:hover{
   color: #148F77;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#botonArchivar:hover{
   color: #148F77;
   background-color:white;
  -webkit-transform:scale(1);transform:scale(1); /*Acercamiento*/
}

#contenedorAcciones{
  display: flex;
  justify-content: center;
  align-items: center;
}

#myTable th, td, tr{
  border: 3px solid white;
}



/*ver-recibidos*/

#botonRecibidos{
  background-color: #3A73A8;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  border-color: #3A73A8;
  font-size: 13px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 80px !important;
  height: 30px !important;
}
#botonRecibidos:hover{
   color: #3A73A8;
   background-color:white;
}
